<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="foot" class="footer">
<!--    1. 页脚文字-->
    <div class="footer-text">
        Copyright © 2022· 服务器支持: <a href="http://localhost:8081" target="_blank">Bridge文件服务器</a> · 网站程序: Spring Boot · 粤ICP备00000000号<br>
        (●'◡'●)ﾉ 网站已稳定运行 <span id="sitetime"></span><br>
        SITE BUILT WITH <font style="color:#d9534f">❤</font> BY 朱培挺.<br>
        总访问量: 128428 | 总用户量: 5972<br>
    </div>

<!--    2. 侧边悬浮栏-->
    <div class="side-bar">
        <a class="icon icon-qq" title="QQ">QQ<div class="hovertree-chat-tips"><i></i></span><img src="/images/qq.png"/></div></a>
        <a class="icon icon-chat" title="微信">微信<div class="hovertree-chat-tips"><i></i><img src="/images/weixinMin.png"/></div></a>
        <a class="icon icon-toTop" title="回到顶部" onclick="function toTop() {
      document.body.scrollTop = document.documentElement.scrollTop = 0;
    }
    toTop()">回到顶部</a>
    </div>

<!--    3. 悬浮在线聊天窗口-->
    <link rel='stylesheet' href='/font-awesome-4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/floatingChatBox.css">
    <div class="floating-chat">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <div class="chat">
            <div class="header">
            <span class="title">
                what's on your mind?
            </span>
                <button>
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>

            </div>
            <ul class="messages">
                <li class="other">asdasdasasdasdasasdasdasasdasdasasdasdasasdasdasasdasdas</li>
                <li class="other">Are we dogs??? 🐶</li>
                <li class="self">no... we're human</li>
                <li class="other">are you sure???</li>
                <li class="self">yes.... -___-</li>
                <li class="other">if we're not dogs.... we might be monkeys 🐵</li>
                <li class="self">i hate you</li>
                <li class="other">don't be so negative! here's a banana 🍌</li>
                <li class="self">......... -___-</li>
            </ul>
            <div class="chatFooter">
                <div class="text-box" contenteditable="true" disabled="true"></div>
                <button id="sendMessage">send</button>
            </div>
        </div>
    </div>
    <script  src="/js/floatingChatBox.js"></script>

<!--            4. 播放背景音乐-->
<!--    <link rel="stylesheet" href="/css/APlayer.min.css">-->
<!--    <script src="/js/APlayer.min.js"></script>-->
<!--    <script src="/js/Meting.min.js"></script>-->
<!--    <meting-js-->
<!--            server="netease"-->
<!--            type="artist"-->
<!--            id="5771"-->
<!--            fixed="true"-->
<!--            loop="all"-->
<!--            order="random"-->
<!--            preload="auto"-->
<!--            list-folded="ture"-->
<!--            list-max-height="100px"-->
<!--            lrc-type="1">-->
<!--    </meting-js>-->

</div>
</body>
</html>
