<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="my-nav" th:fragment="nav">
<!--    上方导航-->
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">榴莲社区</span>
                </button>
                <a class="navbar-brand" href="/">榴莲社区</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" action="/" method="get">
                    <div class="form-group">
                        <input id="search" type="text" class="form-control" name="search" placeholder="搜索问题">
                    </div>
                    <button type="submit" class="btn">
                        <span class="glyphicon glyphicon-search"></span>搜索
                    </button>
                </form>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">
                            <span class="glyphicon glyphicon-list"></span>发现
                        </a>
                    </li>
                    <li>
                        <a href="/hotTag">
                            <span class="glyphicon glyphicon-tags"></span>话题
                        </a>
                    </li>
                    <li>
                        <a href="/activity">
                            <span class="glyphicon glyphicon-globe"></span>活动
                        </a>
                    </li>
                    <li>
                        <a href="/hotTag">
                            <span class="glyphicon glyphicon-paperclip"></span>收藏
                        </a>
                    </li>
                    <li>
                        <a href="https://allmight-zpt.github.io" target="_blank">
                            <span class="glyphicon glyphicon-leaf"></span>站长博客
                        </a>
                    </li>
                    <li>
                        <a href="https://gitee.com/zhu-peiting" target="_blank">
                            <span class="glyphicon glyphicon-folder-open"></span>站长Gitee
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="/publish">
                            <span class="glyphicon glyphicon-question-sign"></span>提问
                        </a>
                    </li>
                    <li th:if="${session.user != null}">
                        <a href="/profile/replies">
                            <span class="glyphicon glyphicon-bullhorn"></span>通知<span class="badge" th:text="${session.unreadCount}"></span>
                        </a>
                    </li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                            <span th:text="${session.user.getName()}"></span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/profile/myHome">
                                    <span class="glyphicon glyphicon-home"></span>我的主页
                                </a>
                            </li>
                            <li>
                                <a href="/profile/updateInfo">
                                    <span class="glyphicon glyphicon-list-alt"></span>个人中心
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/profile/mails">
                                    <span class="glyphicon glyphicon-comment"></span>最新回复
                                </a>
                            </li>
                            <li>
                                <a href="/profile/mails">
                                    <span class="glyphicon glyphicon-envelope"></span>我的邮箱
                                </a>
                            </li>
                            <li>
                                <a href="/profile/questions">
                                    <span class="glyphicon glyphicon-question-sign"></span>我的问题
                                </a>
                            </li>
                            <li>
                                <a href="/profile/fans">
                                    <span class="glyphicon glyphicon-heart"></span>我的粉丝
                                </a>
                            </li>
                            <li>
                                <a href="/profile/idols">
                                    <span class="glyphicon glyphicon-star"></span>我关注的人
                                </a>
                            </li>
                            <li>
                                <a href="/profile/collectQuestions">
                                    <span class="glyphicon glyphicon-check"></span>我收藏的问题
                                </a>
                            </li>
                            <li>
                                <a href="/profile/followTags">
                                    <span class="glyphicon glyphicon-tags"></span>我关注的话题
                                </a>
                            </li>
                            <li>
                                <a href="/profile/followActivities">
                                    <span class="glyphicon glyphicon-globe"></span>我关注的活动
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/">
                                    <span class="glyphicon glyphicon-earphone"></span>在线聊天
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <span class="glyphicon glyphicon-text-size"></span>写文章
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/logout">
                                    <span class="glyphicon glyphicon-log-out"></span>推出登录
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null}">
                        <a th:href="${session.authorizeUriWithParams}">
                            <span class="glyphicon glyphicon-log-in"></span>登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--    使用空div占顶部导航栏的位置，因为现在顶部导航条是悬浮状态，每日一句应该就是最顶部的div了，导航条可能会覆盖住下面的每日一句-->
    <div style="height: 51px;width: 100%"></div>
<!--    每日一句-->
    <div class="alert fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="oneWord">人永远不知道，谁哪次不经意的跟你说了再见之后，就真的不会再见了。</div>
    </div>
</div>
</body>
</html>