<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="my-nav" th:fragment="nav">
<!--    上方导航-->
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">榴莲社区</span>
                </button>
                <a class="navbar-brand" href="/">榴莲社区</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" action="/" method="get">
                    <div class="form-group">
                        <input id="search" type="text" class="form-control" name="search" placeholder="搜索问题">
                    </div>
                    <button type="submit" class="btn">
                        <span class="glyphicon glyphicon-search"></span>搜索
                    </button>
                </form>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">
                            <span class="glyphicon glyphicon-list"></span>发现
                        </a>
                    </li>
                    <li>
                        <a href="/hotTag">
                            <span class="glyphicon glyphicon-tags"></span>话题
                        </a>
                    </li>
                    <li>
                        <a href="/activity">
                            <span class="glyphicon glyphicon-globe"></span>活动
                        </a>
                    </li>
                    <li>
                        <a href="/hotTag">
                            <span class="glyphicon glyphicon-paperclip"></span>收藏
                        </a>
                    </li>
                    <li>
                        <a href="https://allmight-zpt.github.io" target="_blank">
                            <span class="glyphicon glyphicon-leaf"></span>站长博客
                        </a>
                    </li>
                    <li>
                        <a href="https://gitee.com/zhu-peiting" target="_blank">
                            <span class="glyphicon glyphicon-folder-open"></span>站长Gitee
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="/publish">
                            <span class="glyphicon glyphicon-question-sign"></span>提问
                        </a>
                    </li>
                    <li th:if="${session.user != null}">
                        <a href="/profile/replies">
                            <span class="glyphicon glyphicon-bullhorn"></span>通知<span class="badge" th:text="${session.unreadCount}"></span>
                        </a>
                    </li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                            <span th:text="${session.user.getName()}"></span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/profile/myHome">
                                    <span class="glyphicon glyphicon-home"></span>我的主页
                                </a>
                            </li>
                            <li>
                                <a href="/profile/updateInfo">
                                    <span class="glyphicon glyphicon-list-alt"></span>个人中心
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/profile/mails">
                                    <span class="glyphicon glyphicon-comment"></span>最新回复
                                </a>
                            </li>
                            <li>
                                <a href="/profile/mails">
                                    <span class="glyphicon glyphicon-envelope"></span>我的邮箱
                                </a>
                            </li>
                            <li>
                                <a href="/profile/questions">
                                    <span class="glyphicon glyphicon-question-sign"></span>我的问题
                                </a>
                            </li>
                            <li>
                                <a href="/profile/fans">
                                    <span class="glyphicon glyphicon-heart"></span>我的粉丝
                                </a>
                            </li>
                            <li>
                                <a href="/profile/idols">
                                    <span class="glyphicon glyphicon-star"></span>我关注的人
                                </a>
                            </li>
                            <li>
                                <a href="/profile/collectQuestions">
                                    <span class="glyphicon glyphicon-check"></span>我收藏的问题
                                </a>
                            </li>
                            <li>
                                <a href="/profile/followTags">
                                    <span class="glyphicon glyphicon-tags"></span>我关注的话题
                                </a>
                            </li>
                            <li>
                                <a href="/profile/followActivities">
                                    <span class="glyphicon glyphicon-globe"></span>我关注的活动
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/">
                                    <span class="glyphicon glyphicon-earphone"></span>在线聊天
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <span class="glyphicon glyphicon-text-size"></span>写文章
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/logout">
                                    <span class="glyphicon glyphicon-log-out"></span>推出登录
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null}">
                        <a th:href="${session.authorizeUriWithParams}">
                            <span class="glyphicon glyphicon-log-in"></span>登录
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--    使用空div占顶部导航栏的位置，因为现在顶部导航条是悬浮状态，每日一句应该就是最顶部的div了，导航条可能会覆盖住下面的每日一句-->
    <div style="height: 51px;width: 100%"></div>
<!--    每日一句-->
    <div class="alert fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="oneWord" id="oneWord"></div>
    </div>
    <script type="text/javascript">
        const allWords = [
            '人永远不知道，谁哪次不经意的跟你说了再见之后，就真的不会再见了。',
            '闪电风暴过后，一定是那充满蓝天白云，充满碧草繁花的世界。',
            '有时我沉默，不是不快乐，只是想把心净空。有时候你需要退开一点，清醒一下，然后提醒自己，我是谁，要去哪里。',
            '用善意的心情去理解别人的话，会让世界单纯美好容易。世界如此之大，我却能幸运地遇见一些人。',
            '不管前方的路有多苦，只要走的方向正确，不管多么崎岖不平，都比站在原地更接近幸福。',
            '你应该要学着做你自己，面对真实的自我，只要做到这一点，你就不会害怕任何事情了。',
            '也许生存在世间的人们都只是在等待一种偶遇，一种适时的相遇，时间对了，你们便会遇上。',
            '多年后，再回想这样的迷茫或许连执着的原因都记不得了，青春就是让你张扬的笑，也给你莫名的痛。',
            '我们的生命太短，来不及见证那些遥远到令人恍惚的词语，比如天长地久，海角天涯，碧落黄泉，沧海桑田。所以，要活下去。',
            '一条路不能回头，就是一生要走许多路，有成长之路。很多事情不能自己掌控，即使再孤单再寂寞，仍要继续走下去，不许停也不能回头。',
            '是因为你不好，才要留在你身边，给你幸福。',
            '有些烦恼，丢掉了，才有云淡风轻的机会。',
            '那个第一个向我表白的人，谢谢你让我知道了人生的第一次被爱。',
            '有一天，蓦然回首，你会发现，那个给你许多痛苦的人，却也是你的救赎。',
            '在这个世界上，没有绝对的对，也没有绝对的错，所有的对与错都是要有参照物来参照的。',
            '如果再把童年放映一遍，我们一定会先大笑，然后放声痛哭，最后挂着泪，微笑着睡去。',
            '我浑身伤痛，跋涉万里，疲倦地寻找，只为来与你相见。',
            '尽管命运跟我们开了一个玩笑，尽管现实无法改变，我拥抱这命运，接受这现实，并仍旧喜欢着你。',
            '带上信仰，去寻找你自己的国度吧，哪怕倾尽一生。',
            '我不知道有多喜欢你，但如果是去见你，我一定用跑的。',
            '已经走到尽头的东西，重生也不过是再一次的消亡。就像所有的开始，其实都只是一个写好了的结局。',
            '我已经准备好了足够挡雨的伞，可是却迟迟没有等到雨的到来，这样的尴尬只是我漫长人生的小插曲罢了。',
            '生活坏到一定程度就会好起来，因为它无法更坏。努力过后，才知道许多事情，坚持坚持，就过来了。',
            '当一个胖纸没有什么不好，最起码可以温暖其他的人。',
            '成长，是每个孩子的权力，也是他们必经的征程，或平坦，或崎岖，有悲欢，有离合。',
            '自己的事情一定要自己决定啊！',
            '人老了唯一的好处就是，能失去的东西少了。',
            '即使起风了，也要好好的活下去！',
            '风暴已经来临，你我只需侧耳倾听。',
            '不管你曾经被伤害得有多深，总会有一个人的出现，让你原谅之前生活对你所有的刁难。',
            '你不能改变命运，但你可以选择原地等待，或是，勇敢面对。',
            '成长是一笔交易，我们都是用朴素的童真与未经人事的洁白交换长大的勇气。',
            '不要对外表过分在意，心灵才是最重要的。',
            '每个人都有他与生俱来的特质，最后一定能苦尽甘来。',
            '一个人的时候，怎么过？就算再难以承受，其实到最后我们总能走得过来。',
            '食物有很强大的治愈力量。',
            '大声地笑出声来，就不再害怕了。',
            '在两个人的世界里，管他的风雨雷电飞沙走石天崩地裂，只要能在一起就足够了。',
            '坚强，不是面对悲伤不流一滴泪，而是擦干眼泪后微笑着面对以后的生活。',
            '爱，不是寻找一个完美的人，而是学会用完美的眼光，欣赏那个并不完美的人。',
            '你别问其中的故事，等你再长大点，会恋爱了，会想念了，甚至会怨恨了，你会明白的。',
            '人永远不知道，谁哪次不经意地跟你说了再见之后，就真的不会再见了。',
            '当陪你的人要下车时，即使不舍，也该心存感激，然后挥手道别。',
            '人生就是一列开往坟墓的列车，路途上会有很多站，很难有人可以至始至终陪着走完。',
            '千万不可以丢失自我。',
            '我们很努力的活，只是，你们不知道而已。',
            '以后我给你造个移动的房子好不好？上面挂满气球，可以飞到天涯海角。房子可以很小，但足够住下你和我。',
            '生命可以随心所欲，但不能随波逐流。',
            '因为你，我愿意成为一个更好的人，不想成为你的包袱，因此发奋努力，只是为了想要证明我足以与你相配。',
            '恋爱应该是双方扶持对方共同完成自己的目标，而不是虚幻的思想、肤浅的物质和纸醉金迷的生活。',
            '每个人心中都住着一个孩子，每个女孩子心里都有一座城堡。',
            '如谷之歌，扎根土里。与风共存，与种子越冬，与鸟歌颂。',
            '污秽的世界结束的时刻到了。白鸟飞舞，通知人间永久的净化开始了。和这只有痛苦的世间生活告别吧！',
            '相信我，我们可以更快乐，因为童真只是一种态度。',
            '想开了就是净土，想不开就是地狱，忧郁了就是人间。',
            '我不知将去何方，但我已在路上。',
            '不要着急，最好的总会在最不经意的时候出现。',
            '大家也来笑，吓人的东西就会逃跑。',
            '梦想不会逃跑，会逃跑的永远都是自己。',
            '我不太肯定我的方向，但是我希望自己能走远一点。',
            '内心强大，才能道歉，但必须更强大，才能原谅。',
            '或许不是我们变了，而是我们越来越接近真实的自己。',
            '只要有你在，我就会努力。',
            '你已经不再孤单了，我也必须要继续向前。',
            '我只能送你到这里了，剩下的路你要自己走，不要回头。',
            '没问题的，别担心，一切都会好的。',
            '每天早上睁开眼睛，看到你和阳光都在，这就是我想要的未来。',
            '人人心中都有个龙猫，童年就永远不会消失，爱是最美的拥有。',
            '我们都是流浪的孩子，只希望有一天，我们能看到属于自己的城市。',
            '这个世界有些事情真的是无法改变的，我们唯一能做的，只是在自己与世界之间找到一个平衡点。',
            '曾经发生的事不可能忘记，只是暂时想不起来而已。',
            '从天空降临的少女，轻轻的飘荡在他的身前。如此的安静着，带着来自远方的梦，梦的此刻在此时起航。',
            '这世上有一条路无论如何也不能走，那就是歧途，只要走错一步结果都会是粉身碎骨。',
            '请记得那些对你好的人，因为他本可以不这样。',
            '心里有个人放在那里，是件收藏，如此才填充了生命的空白。',
            '尽管也曾有消沉的时候，我还是过得很好。',
            '你不能等待别人来安排你的人生，自己想要的，自己争取。',
            '被一个人深深地爱着将给你力量，深深地爱着一个人将给你勇气。',
            '在茫茫人海中相遇相知相守，无论谁都不会一帆风顺，只有一颗舍得付出、懂得感恩的心才能拥有一生的爱和幸福。',
            '人生的某些障碍，你是逃不掉的。与其费尽周折绕过去，不如勇敢地攀越，或许这会铸就你人生的高点。',
            '名字一旦被夺走，就再也找不到回家的路。',
            '从一个城市到另一个城市，只有靠自己努力。学会长大，学会承受，学会哭过之后，还可以微笑地拥抱爸爸妈妈。',
            '当你无法再拥有时，你唯一能做的就是不要再忘记。',
            '纵有疾风起，人生不言弃。起风了，唯有努力生存。',
            '越是试着忘记，越是记得深刻。',
            '谁都会遇到这样一个人，只看她一眼，你就知道自己愿意为她去死。',
            '拥抱的时候，是人和人，心脏依靠最近的时候，近到能听见彼此的心跳。',
            '人哪有好的，只是坏的程度不一样而已。',
            '我虽然不能去送你，但是我会等你回来的。',
            '爱情是双方的事情，不是一个人走了九十九步，而对方迟迟犹豫是否迈出第一步。',
            '如果只是把世界分为清净和污浊两者，是不是就反而看不到真相了呢?',
            '在这个世界上别太依赖任何人，因为当你在黑暗中挣扎时，连你的影子都会离开你。',
            '一举一动，都是承诺，会被另一个人看在眼里，记在心上的。',
            '我说不出来为什么爱你，但我知道，你就是我不爱别人的理由。',
            '珍惜今天，珍惜现在，谁知道明天和意外，哪一个先来。',
            '外面的世界不一定有多好，但你不要因为它不好就不敢走进它。',
            '使人成熟的不是岁月，而是经历。百味尝遍，自然看透。看透世态，看淡世事。',
            '很多人不需要再见，因为只是路过而已，遗忘就是我们给彼此最好的纪念。',
            '人生中遇到的磨难很多，我们愈是成熟，也愈是胆小，反倒在绝境中才能激发出内存的潜能，从而变得更加坚强和勇敢。',
            '我们都太专注于自己的伤口，忘了要去握住别人伸出的手。'
        ]
        const idx = Math.round(Math.random()*100);
        document.getElementById('oneWord').innerHTML = allWords[idx];
    </script>

<!--    活动一下-->
    <script src="/js/restTime.js"></script>
    <script src="/js/camera_utils.js" crossorigin="anonymous"></script>
    <script src="/js/control_utils.js" crossorigin="anonymous"></script>
    <script src="/js/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="/js/face_mesh.js" crossorigin="anonymous"></script>

    <div class="modal fade" id="myEnd" tabindex="-1" role="dialog" aria-labelledby="playModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="javascript:location.reload();"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="mailModalLabel">活动一下吧</h4>
                </div>
                <div id="modal-body" class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <video class="input_video"></video>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <canvas class="output_canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="progress">
                        <div id = "progress-bar" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            完成进度：<span id="complete-percent"></span> %
                        </div>
                    </div>
                    <div class="face-mesh-footer">
                        <span>
                            久坐伤身！连续盯着电脑屏幕太久对脖子不好噢~快跟着屏幕得提示活动一下脖子吧~<br>
                            尝试“<font style='color:#d9534f'>上</font>”、“<font style='color:#d9534f'>下</font>”、“<font style='color:#d9534f'>左</font>”、“<font style='color:#d9534f'>右</font>”转动头部，让完成进度达到<font style='color:#d9534f'>100%</font>把~ 冲冲冲~<br>
                            活动结束后去户外走走，放松一下吧~
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>