<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>提问</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css" >
  <link rel="stylesheet" href="/css/community.css" >
  <link rel="stylesheet" href="/css/editormd.min.css" >
  <script src="/js/jquery-3.6.1.min.js"></script>
  <script src="/js/bootstrap.min.js" type="application/javascript"></script>
  <script src="/js/community.js" type="application/javascript"></script>
  <script src="/js/editormd.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <h3><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 发起</h3>
      <hr>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <br>
        如果你希望他人花 1 分钟来解答你的问题，还请耐心花 10 分钟完善你的提问。
        <br>
        <br>
        补充完整的错误描述，如：
        <br>
        软件版本；<br>
        运行环境；<br>
        场景/上下文；<br>
        有用的信息（请使用代码块粘贴，以方便他人查看）；<br>
        相关查询请求；<br>
        错误日志；<br>
        代码块；<br><br>
      </div>
      <form action="/publish" method="post">
        <input type="hidden" name="id" th:value="${id}">
        <div class="form-group">
          <label for="title">问题标题（简单扼要）:</label>
          <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="问题标题...">
        </div>
        <label for="description">问题补充（必填，请参照右侧提示）:</label>
        <div class="form-group" id="question-editor">
          <textarea style="display:none;" class="form-control" th:text="${description}" id="description" name="description" cols="3" rows="10" placeholder="问题补充..."></textarea>
        </div>
        <script type="text/javascript">
          $(function() {
            var editor = editormd("question-editor", {
              width  : "100%",
              height : "500",
              path   : "/js/lib/",
              delay  : 0,
              watch  : false,
              placeholder  : "输入问题描述...",
              imageUpload    : true,
              imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
              imageUploadURL : "/file/upload",
              emoji  : true
            });
          });
        </script>
        <div class="form-group">
          <label for="tag">添加标签:</label>
          <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签，以“，”分隔" autocomplete="off" onclick="showSelectTag()">
          <div id="select-tag" class="publish-tag-tab">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" th:each="selectCategory,selectCategoryStat: ${tags}" th:class="${selectCategoryStat.first ? 'active' : ''}"><a th:href="'#'+${selectCategory.categoryName}" aria-controls="home" role="tab" data-toggle="tab" th:text="${selectCategory.categoryName}"></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" th:id="${selectCategory.categoryName}" th:each="selectCategory,selectCategoryStat: ${tags}" th:class="${selectCategoryStat.first ? 'active tab-pane' : 'tab-pane'}">
                <span onclick=selectTag(this) th:data-tag="${selectTag}" class="label label-info question-tag" th:each="selectTag: ${selectCategory.tags}">
                  <span class="glyphicon glyphicon-tags"></span>
                  <span th:text="${selectTag}"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <span class="alert alert-danger col-lg-11 col-md-11 col-sm-10 col-xs-10" th:text="${error}" th:if="${error != null}"></span>
        <button type="submit" class="btn btn-success btn-publish">发布</button>
      </form>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="publish-right">
        <h4 class="publish-right-head">问题发起指南</h4>
          <p class="publish-right-p"><b>• 问题标题:</b> 请用<b style="color:red">精简</b>的语言描述您发布的问题，不超过25字</p>
          <p class="publish-right-p"><b>• 问题补充:</b> 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：</p>

          <li>服务器运行环境信息；</li>
          <li>软件版本；</li>
          <li>问题发生的上下文信息；</li>
          <li>可以完整复现问题的代码；</li>
          <li>补充完整的异常和错误信息；</li>
          <li>注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；</li>
          <p class="publish-right-p"></p>
          <p class="publish-right-p"><b>• 选择标签:</b> 选择一个或者多个合适的标签，不超过<b style="color:red">10</b>个</p>
          <p class="publish-right-p"><b>• 关于积分：</b> 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能.</p>
      </div>
    </div>
  </div>
</div>
<div th:insert="~{footer :: foot}"></div>
<div th:insert="~{footerNav :: footNav}"></div>
</body>
</html>