<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>榴莲社区</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css" >
  <link rel="stylesheet" href="css/community.css" >
  <script src="js/jquery-3.6.1.min.js"></script>
  <script src="js/bootstrap.min.js" type="application/javascript"></script>
  <script src="/js/siteTime.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="jumbotron support">
  <h1 class="support-title">为了更优秀</h1>
  <p class="support-content">一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~一些废话为了骗支持~</p>
  <hr class="support-hr">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail support-weixinPay">
        <img src="/images/weixinPay.png">
        <div class="caption">
          <h3 style="text-align: center">微信</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail support-zhifubaoPay">
        <img src="/images/zhifubaoPay.png">
        <div class="caption">
          <h3 style="text-align: center">支付宝</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:insert="~{footer :: foot}"></div>
<div th:insert="~{footerNav :: footNav}"></div>
</body>
</html>